# Configuration file for getProfiles_oneRun.py.
#

#
# To run the script, type:
#
# python getProfiles_oneRun.py getProfiles.config NRUN
#
# where getProfiles.config is this config file and NRUN
# is the run number.
#

#
# Each line can either start with a comment, indicated by a '#' mark or start
# with a parameter name and value, optionally followed by a comment.  ALL 
# parameters used by the script must be specified.  If a required parameter 
# is not specified, the script will terminate with a message indicating which 
# parameter was missing.
#

# ==========================================================================
# Parameters needed by getProfile_oneRun to process ONE run.
# ==========================================================================
#

#
# The output or working directory:
#
output_directory  C:\Users\Arthur\Desktop\getOneRunParallel\

#
# Instrument name and experiment name.
#
instrument_name   TOPAZ                        # prefix for run file names
expname           sapphire 

#
# The calibration file name. If it is not in the output_directory, then
# include the full path with the file name.
# 
detcal_fname      TOPAZ01Feb2013.DetCal

#
# Set the directory of the Q vector binary file. These are the files created
# by indexOneRun_saveQvectors.py.
#
events_directory  C:\data\TOPAZ\Sapphire\

#
# The orientation matrix file name is nrun + suffix
# where nrun is the run number and the suffix is
# the following:
#
orientation_filename_suffix  _Rhombohedral_R.mat

#
# P, A, B, C, F, I or R centering
#
center_type        R

#
# Minimum d-spacing, minimum wavelength and maximum wavelength
# in Angstroms. Peaks outside these limits are rejected.
#
dmin               0.5
wlmin              0.3
wlmax              3.4

#
# Delta Q step size in units of 2pi/d of the profile
# steps through the peak along the Q vector.
#
deltaQ             0.004

#
# Length of profile in units of 2pi/d
#
rangeQ             0.4

#
# Radius of integration cylinder aligned along
# the Q vector.
#
radiusQ            0.1

#
# For no fit integration, this is the percent background of steps
# that are considered background. Thus, a value of 20 means that
# the peak with 100 steps is divided into bkg and peak (bkg peak bkg)
# regions of 20 60 20 steps.
#
percentOneBackground  20.0   


# ==========================================================================
# Additional Parameters needed by getProfiles_parallel.py, to process
# multiple runs in parallel.
# ==========================================================================
#
one_run_script  getProfiles_oneRun.py

#
# Specify the run numbers that should be reduced.  This can be done on several
# lines.  Each line must start with the parameter name run_nums and be followed
# by a comma separated list of individual run numbers or ranges of run numbers.
# A range of run numbers is specified by listing the first number and last
# number in the range, separated by a colon.
#
run_nums  6347:6350 

#
# Specify the slurm partion, or None to use local processes.  The parameter
# max_processes controls the maximum number of processes that will be run 
# simultaneously locally, or that will be simultaneously submitted to slurm.
# The value of max_processes should be choosen carefully with the size of the
# system in mind, to avoid overloading the system.  Since the lower level 
# calculations are all multi-threaded, this should be substantially lower than
# the total number of cores available.
# All runs will be processed eventually.  If there are more runs than then
# max_processes, as some processes finish, new ones will be started, until
# all runs have been processed.
#
slurm_queue_name    None
max_processes       2 

