#
# spectra_Anger_detectors.config
#
# This is the user parameters input to the 
# script that produces a spectra file containing the TOF (wavelength)
# spectrum for each detector. The output file is "Spectrum_run1_run2.dat",
# where run1 is the vanadium data and run2 is the background data.
#
# To run the script, your working directory should contain the
# "spectra_Anger_detectors.py" script, this config file, and an ISAW
# DetCal file.
#
# The script will try to link to a PythonLibrary containing ReduceDictionary.py.
# This should be automatic on biganalysis.
#
# On the SNS biganalysis computer, spectra_Anger_detectors.py can be copied
# from /SNS/TOPAZ/shared/PythonPrograms/.
#
# To run the script, type:
#
#    python spectra_Anger_detectors.py
#

# Raw data path containing the event NeXus files.
#
raw_data_path      /SNS/MANDI/2012_2_11b_SCI/data/

# Run number of vanadium or TiZr data file
#       
runNum_1            304

# Run number of no-sample background file
#
runNum_2            302

# File name prefix before the run number, e.g. TOPAZ_ for
# TOPAZ_****_event.nxs files, where **** is the run number.
#
# filename_prefix     SNAP_
filename_prefix     MANDI_
# filename_prefix     TOPAZ_

# File name suffix after the run number
#                            
filename_suffix     _event.nxs

# The incident beam monitor used for scaling the background data.
# For TOPAZ, this would normally be 1.
# For MaNDi, at this time it is 2.
#
beam_monitor        2

# Number of border channels to exclude
#                         
nBorder             16

# ISAW DetCal file.
# If necessary, you can create a .DetCal file by cutting and pasting
# the header lines (include all type "5" lines) from a .peaks or
# .integrate file.
#
DetCalFilename      MANDI.DetCal

# Apply smoothing by averaging over a range of points.
#
doSmoothing         False

# If doSmoothing is True, the number of points to average
# over (minimum 3). If an even number is given,
# it will be incremented by 1 to make it odd (default value 3)
#  
numPoints           3

# Is the spectrum from the vanadium rod? True or False.
# If V_rod is True, then V_spere must be False, and vice versa.
#
V_rod               False

# Or is the spectrum from the V/Nb sphere? True or False.
#
V_sphere            True

# Radius in cm: TOPAZ rod = 0.407, sphere = 0.15, SNAP rod = 0.15
#
radius              0.15

# Directory for output spectrum and log files
#
outPath             /SNS/MANDI/shared/spectrum/spectrum_304_302/

# Omit any spectrum with all zeros. True or False.
#
omitZeros           True

# Minium and maximum TOF
#
# For TOPAZ, typical values are 500 to 16650.
# For MaNDi for a wavelength range of 1 to 3 Angstroms, use 6000 to 24000.
#
min_tof             6000
max_tof             24000

# The rebinning step parameter for the Mantid algorithm Rebin.
#
# A positive value, such as 10, means a constant step size of 10 microseconds.
# A negative value, such as -0.004, means logarithmic binning with
# (delta T)/T = 0.004.
#
rebin_step           -0.004

