######################################################################
# Lines must have the ISAW version number, followed by the date in
# the form  mm_dd_yyyy.  Currently, building from specified version 
# numbers is not supported.  In the future, version numbers for 
# sub-packages "may" be required in later positions on the line.
# Empty lines and lines that start with '#' are skipped
# svn_ISAW will use the first line if no version is specified.
# The ISAW version number and corresponding SVN version numbers for
# the packages are listed in comment statements at the end of this
# file.  This will allow manually checking out the source code for
# earlier versions, so that they could be re-built, if necessary.
######################################################################
1.9.0_02    02_18_2009
1.9.0       01_14_2009
1.9.0_b5    12_19_2008
1.9.0_b4    12_12_2008
1.9.0_b3    11_03_2008
1.9.0_b2    09_18_2008
1.9.0_b1    07_31_2008
1.9.0_a5    06_19_2008
1.9.0_a4    06_16_2008
1.9.0_a3    06_02_2008
1.9.0_a2    05_15_2008
1.9.0_a1    03_31_2008
#1.9.0_02 ISAW: 19558 gov: 5763 SSG_Tools: 316 IPNS: 806 ISIS: 195
#1.9.0    ISAW: 19517 gov: 5754 SSG_Tools: 315 IPNS: 806 ISIS: 195
#1.9.0_b5 ISAW: 19484 gov: 5746 SSG_Tools: 315 IPNS: 806 ISIS: 195 
#1.9.0_b4 ISAW: 19463 gov: 5746 SSG_Tools: 315 IPNS: 806 ISIS: 195
#1.9.0_b3 ISAW: 19427 gov: 5636 SSG_Tools: 315 IPNS: 806 ISIS: 195
#1.9.0_b2 ISAW: 19359 gov: 5628 SSG_Tools: 315 IPNS: 806 ISIS: 195
#1.9.0_b1 ISAW: 19285 gov: 5626 SSG_Tools: 297 IPNS: 806 ISIS: 195 
#1.9.0_a5 ISAW: 19233 gov: 5622 SSG_Tools: 297 IPNS: 806 ISIS: 195 
#1.9.0_a4 ISAW: 19213 gov: 5611 SSG_Tools: 297 IPNS: 806 ISIS: 195 
#1.9.0_a3 ISAW: 19152 gov: 5611 SSG_Tools: 297 IPNS: 806 ISIS: 195 
#1.9.0_a2 ISAW: 19096 gov: 5607 SSG_Tools: 297 IPNS: 806 ISIS: 195 
#1.9.0_a1 ISAW: 19011 gov: 5591 SSG_Tools: 297 IPNS: 806 ISIS: 195
